/* The Prepared Mind - EPUB Stylesheet */

body {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1em;
  line-height: 1.6;
  margin: 1em;
  color: #1a1a1a;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 0.5em;
  text-align: center;
  page-break-before: always;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1.2em;
  margin-bottom: 0.4em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: justify;
  text-indent: 1.5em;
}

p.first, h1 + p, h2 + p, h3 + p, blockquote + p {
  text-indent: 0;
}

blockquote {
  margin: 1.5em 2em;
  font-style: italic;
  border-left: 3px solid #666;
  padding-left: 1em;
}

.chapter-number {
  font-size: 0.9em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #666;
  display: block;
  margin-bottom: 0.5em;
}

.part-title {
  font-size: 2.5em;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
}

.part-subtitle {
  font-size: 1.2em;
  text-align: center;
  font-style: italic;
  color: #666;
  margin-bottom: 3em;
}

.spiral-note {
  font-size: 0.9em;
  font-style: italic;
  color: #555;
  margin: 1em 0;
  padding: 0.5em 1em;
  background: #f5f5f5;
  border-radius: 4px;
}

.concept-highlight {
  font-weight: bold;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 2em auto;
  width: 30%;
}

.title-page {
  text-align: center;
  margin-top: 30%;
}

.title-page h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  page-break-before: auto;
}

.title-page .subtitle {
  font-size: 1.3em;
  font-style: italic;
  color: #666;
  margin-bottom: 2em;
}

.title-page .author {
  font-size: 1.1em;
  margin-top: 3em;
}

.toc-title {
  text-align: center;
  margin-bottom: 2em;
}

.toc ul {
  list-style: none;
  padding: 0;
}

.toc li {
  margin: 0.5em 0;
}

.toc a {
  text-decoration: none;
  color: #1a1a1a;
}

.toc .part {
  font-weight: bold;
  margin-top: 1.5em;
  font-size: 1.1em;
}

.toc .chapter {
  margin-left: 1.5em;
}