/* EPUB Stylesheet for Mind and Reality */

body {
  font-family: Georgia, "Times New Roman", serif;
  line-height: 1.6;
  margin: 1em;
  text-align: justify;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  page-break-before: always;
}

h2 {
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.8em;
  page-break-before: always;
}

h3 {
  font-size: 1.2em;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}

p {
  margin: 0.5em 0;
  text-indent: 1.5em;
}

p.first, h1 + p, h2 + p, h3 + p {
  text-indent: 0;
}

blockquote {
  margin: 1em 2em;
  font-style: italic;
}

ul, ol {
  margin: 0.5em 0;
  padding-left: 2em;
}

li {
  margin: 0.3em 0;
}

.title-page {
  text-align: center;
  margin-top: 30%;
}

.title-page h1 {
  font-size: 2.5em;
  page-break-before: avoid;
}

.title-page .subtitle {
  font-size: 1.3em;
  margin-top: 1em;
  font-style: italic;
}

.title-page .author {
  margin-top: 3em;
  font-size: 1.2em;
}

.part-title {
  text-align: center;
  margin-top: 40%;
  page-break-before: always;
}

.part-title h1 {
  font-size: 2em;
  page-break-before: avoid;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  margin: 2em auto;
  width: 30%;
  border: none;
  border-top: 1px solid #999;
}
